/build-CalculatorGui-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/**
/build-CalculatorGui-Desktop_Qt_6_4_2_MinGW_64_bit-Debug\**
/ConsoleApplication1/**
/ConsoleApplication1/.vs/**
/ConsoleApplication1/x64/**
ConsoleApplication1/x64
ConsoleApplication1/x64/*
*.log
*.user
*.cmake
*.vsidx
*.tlog
*.exe
*.iobj
*.ipdb
CalculatorGui/CMakeLists.txt.user
ConsoleApplication1/.vs/ConsoleApplication1/v17/.suo
ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.db
ConsoleApplication1/.vs/ConsoleApplication1/v17/ipch/AutoPCH/66e614b7ebd11083/STRING_CALCULATOR.ipch
ConsoleApplication1/.vs/ConsoleApplication1/v17/ipch/AutoPCH/81076b2fb4bb97e1/CALCULATOR.ipch
ConsoleApplication1/.vs/ConsoleApplication1/v17/ipch/AutoPCH/819f1f5d3607d1d5/CONSOLEAPPLICATION1.ipch
